body {
    font-family: Arial;
    margin: 0;
}

nav {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
}

.card {
    border: 1px solid gray;
    padding: 15px;
    margin: 10px 0;
}